.container{
     height: 100vh;
}
.buttonAdd{
    width: 20%;
}
.btn.btn-dark{
    width: 60%;
}
.editTdName{
    width: 40%;
}
.form-control.input{
    margin-bottom: 25px;
}
.btn.btn-success{
    margin-right: 20px;
}