header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
.logoImage{
    width: 150px;
    height: 50px;
}
.nav-link{
    text-align: center;
    padding: 0;
    padding: 5px;
}
p{
    margin: 0;
}
.icons{
    width: 35px;
}
.btnModal{
    background-color: transparent;
    border: none;
}
